<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой первый Django-сайт</title>
</head>
<body>
<h1>Добро пожаловать на мой первый Django-сайт!</h1>

<h2>О сайте</h2>
<p>Этот сайт разработан с использованием Django, мощного фреймворка для создания веб-приложений на языке Python.</p>

<h2>Обо мне</h2>
<p>Доброго дня, меня зовут Alex. Я учащийся GeekBrains. Меня всегда привлекала разработка.
    Мои навыки включают Python, Flask и теперь ещё Django.</p>

<footer>
    <p>Мои контакты: mail@mail.ru | +77777777777</p>
</footer>
</body>
</html>